.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-area {
  display: flex;
  flex-direction: column;

  .botton-half {
    display: flex;
    textarea {
      height: 100%;
      width: 100%;
      min-height: 70px;
      text-align: center;
      font-size: large;
    }
  }

  .top-half {
    display: flex;
    flex-direction: row;
    align-items: center;

    .field {
      display: inline-flex;
      flex-direction: column;
      padding: 15px;

      label {
        font-size: large;
      }

      input {
        font-size: medium;
      }

      select {
        font-size: medium;
      }
    }
  }
}

.hexagon {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: medium;
  cursor: pointer;
  outline: inherit;

  position: relative;
  width: 50px;
  height: 28.87px;
  background-color: #d00000;
  margin: 14.43px 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }

  &::after {
    bottom: 100%;
    border-bottom: 14.43px solid #d00000;
  }

  &::before {
    top: 100%;
    width: 0;
    border-top: 14.43px solid #d00000;
  }
}
